{% extends "base.njk" %}

{% block content %}
<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title">About Hamaki</h1>
    <div class="content">
      <p>Hamaki is a scheduling application built with Express and Nunjucks.</p>
    </div>
  </div>
</section>
{% endblock %}
