<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Hamaki</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.45/moment-timezone-with-data.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
</head>
<body>
  <header class="navbar">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <a href="/" style="display: flex; align-items: center; text-decoration: none; color: white;">
        <img src="/images/hamaki-logo.svg" alt="Hamaki" width="40" height="45">
        <strong class="header-title" style="margin-left: 10px;">Hamaki</strong>
      </a>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        made with &lt;3 by <a href="https://mastodon.design/@potloodgum" target="_blank">Potloodgum</a> and <a href="https://mastodon.social/@Dongelen" target="_blank">Dongelen</a>
      </p>
    </div>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
